<!-- カルーセル -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" style="height: 500px;">
    <div class="carousel-item active">
      <%= image_tag 'book1.jpg', class: "d-block w-100", alt: "First slide"%>
    </div>
    <div class="carousel-item">
      <%= image_tag 'book2.jpg', class: "d-block w-100", alt: "Second slide"%>
    </div>
    <div class="carousel-item">
      <%= image_tag 'book3.jpg', class: "d-block w-100", alt: "Third slide"%>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- アピールポイント -->
<div class="card-deck mx-auto" style="width: 80%; margin-top: 20px;">
  <div class="card">
      <%= image_tag 'top_card_img1.png', class: "card-img-top", alt: "Card image cap"%>
    <div class="card-body">
      <h5 class="card-title">LIBREは縦書き</h5>
      <p class="card-text">世の中には縦書きの本の方が圧倒的に多いです。なぜなら縦書きの方が文章を読みやすいからです。しかし世の中のWeb小説ではデフォルトで横書き表示のものが多いです。LIBREでは最初から縦書き表示で読書をすることができます。</p>
    </div>
  </div>
  <div class="card">
      <%= image_tag 'top_card_img2.png', class: "card-img-top", alt: "Card image cap"%>
    <div class="card-body">
      <h5 class="card-title">ダークテーマ</h5>
      <p class="card-text">スマートフォンの使い過ぎで目が疲れてはいないでしょうか？LIBREではダークテーマを用意しました。このテーマで少しでも目の負担を軽減することが出来たら幸いです。もちろん、ホワイトテーマにも２クリックで切り替えることが出来ます。</p>
    </div>
  </div>
  <div class="card">
      <%= image_tag 'top_card_img3.png', class: "card-img-top", alt: "Card image cap"%>
    <div class="card-body">
      <h5 class="card-title">読書に集中できる環境</h5>
      <p class="card-text">実際に本を読むページは読書に集中できるようにシンプルにしました。ボタンは右クリックを押さない限り、ページめくりボタンしかありません。</p>
    </div>
  </div>
</div>