<div class="mt-5 col-10 mx-auto" style="width: 100%;">
  <h1>話を追加する（第<%= @episodes.count + 1 %>話）</h1>

  <%= form_for(@episode, url: book_episodes_path, method: :post) do |f| %>
  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">話のタイトル</label>
      <%= f.text_field :epi_title, class:"form-control"%>
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">話の内容</label>
      <%= f.text_area :epi_body, class:"form-control", id: "body" %>
    </div>

    <div id="preview">
      <%#= link_to previous_path(@book, @user_episode), method: :PATCH, id: "previous_page" do%>
      <div class="previous-button-preview"></div>
      <%# end %>
      <!-- 本 -->
      <div class="book-box">
        <div class="upright">
          <% for num in @epi_start..@epi_end do %>
          <div><%= @scanedline[num] %></div>
          <% end %>
        </div>
      </div>
      <%#= link_to next_path(@book, @user_episode), method: :PATCH, id: "next_page" do%>
      <div class="next-button"></div>
      <%# end %>
    </div>

    <%= f.submit %>
  </form>

  <% end %>
  <script type="text/javascript">
    $(function(){
      $('#body').each(function(){
        $(this).bind('keyup', text_update(this));
      });
    });

    function text_update(elm){
      var v, old = elm.value;
      return function(){
        if(old != (v=elm.value)){
          old = v;
          console.log(elm.value + "が入力されています");
          console.log("/books/" + gon.book_id + "/episodes/new");
          $.ajax({
            url: "/books/" + gon.book_id + "/episodes/new",
            // url: "/books/1/episodes/new",
            type: "GET",
            data: {text : elm.value, book_id : gon.book_id},
            datatype: "html",
            success: function(data){
              //成功時の処理
              console.log("「" +  elm.value + "」を更新");
              $('#preview').html(data);//Webページが全部出てしまう
            },
            error: function(data){
              //失敗時の処理
              console.log("更新できませんでした。");
            }
          });
        }
      }
    }
  </script>
</div>