<div>


  <div class="mx-auto book-contents clearfix">
    <p><%= @book.book_title %>ーーー <%= @episode.epi_title %></p>
    <div class="page-counter"><%= @current_page %>  /  <%= @total_page %>--<%= @percentage %>%</div>
    <!-- 一番最初のページだったら「前の話へ」ボタンを表示するようにする -->
    <% if @user_episode.progress == 0 %>
    <!-- 本の一番最初のエピソードだったらボタンを表示させないようにする -->
    <% if @book.id == @compared_book.id && @episode.id != 1 %>
    <!-- 前の話へのリンク -->
    <%= link_to previous_episode_path(@book, @episode) do%>
    <div class="privious-episode-button"></div>
    <%  end %>

    <% else %>
    <div class="empty-button"></div>
    <% end %>

    <% else %>
    <%= link_to previous_path(@book, @user_episode), method: :PATCH do%>
    <div class="previous-button"></div>
    <% end %>

    <% end %>

    <!-- 本 -->
    <div class="book-box">
      <div class="upright">
        <!-- epi_startが添字の配列から２０字ずつ１０行表示 -->
        <% for num in @epi_start..@epi_end do %>
        <div><%= @scanedline[num] %></div>
        <% end %>
      </div>
    </div>

    <!-- 最後のページだったら次へボタンを次の話へボタンにする -->
    <% if @total_page == @current_page %>

    <%= link_to next_episode_path(@book, @episode) do%>
    <div class="next-episode-button"></div>
    <% end %>

    <% else %>
    <%= link_to next_path(@book, @user_episode), method: :PATCH do%>
    <div class="next-button"></div>
    <% end %>
    <% end %>
  </div>

  <!-- サイドバー -->
<!--   <div class="read-search">
    <h3> 検索したい言葉を入力してください。</h3>
    <%#= form_tag(book_episode_path(@book, @episode), method: :GET) do %>
    <p>
      <%#= text_field_tag :search, params[:search] %>
      <%#= submit_tag "検索" %>
    </p>
    <%# end %>
  </div> -->

  <!-- 検索結果があるかどうかによって出力を変えている -->
  <%# if @episodes.blank? %>
  <%# else %>
  <%# @episodes.each do |episode| %>
  <%#= episode.epi_body %>
  <!-- <div style="border: 1px solid;"></div> -->
  <%# end %>
  <%# end %>

</div>