<div class="mt-5 col-10 mx-auto" style="width: 100%;">
  <p><i class="fa fa-user" aria-hidden="true"></i><%= @user.user_name %>ーーー<%= @book.book_title %>の話一覧</p>
  <div class="spine-contents clearfix">
    <% count = 1 %>
    <% @book.episodes.each do |epi| %>
    <div class="spine-box">
      <%= link_to book_episode_path(@book, epi) do %>
      <div class="spine-item">
        
        <div class="episode-number">
          <b>第 <%= count %> 話</b>
        </div>
        <div class="spine-image">
          <% if  %>
          <%= image_tag('green_back.png', :size => "100x500") %>
          <% else %>
          <% end %>
        </div>
      </div>
      <div class="spine-episode-name">
        <%= epi.epi_title %>
      </div>
      <% count += 1 %>
    </div>

    <% end %>
    <% end %>
  </div>

</div>


