<!DOCTYPE html>
<html>
<head>
  <title>LIBRE</title>
  <%= csrf_meta_tags %>

  <!-- gonを使うための記述 -->
  <%= include_gon %>

  <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <% if user_signed_in? %>
  <!-- ユーザーログイン時 header -->
  <nav class="navbar navbar-expand-lg" style="height: 60px; background-color: #3F51B5;">
    <%= link_to top_path do %>
    <div class="header-icon">LIBRE</div>
    <% end %>
    <div class="user-name"><%= current_user.user_name %>でログイン中</div>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
          <%= link_to mypage_path, class:"nav-link mx-2"  do %>
          <div class="text-color">My Page</div>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class:"nav-link mx-2"  do %>
          <div class="text-color">Sign Out</div>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to books_path, class:"nav-link mx-2"  do %>
          <div class="text-color">Books</div>
          <% end %>
        </li>

        <%= link_to search_path, class:"nav-link mx-2"  do %>
        <li class="nav-item">
          <i class="fa fa-search text-color" aria-hidden="true"></i>
        </li>
        <% end %>

      </ul>
    </div>
  </nav>
  <% elsif admin_signed_in? %>
  <!-- 管理者ログイン時 header -->
  <nav class="navbar navbar-expand-lg" style="height: 60px; background-color: #3F51B5;">
    <a class="navbar-brand text-color" href="#" class="header-web-font">LIBRE</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
          <%= link_to destroy_admin_session_path, method: :delete, class:"nav-link mx-2 text-color"  do %>
          <i class="fas fa-sign-out-alt"></i> Sign Out
          <% end %>
        </li>        
        <li class="nav-item">
          <a class="nav-link text-color" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </nav>
  <% else %>

  <!-- ユーザーログアウト時ヘッダー（ゲスト） -->
  <nav class="navbar navbar-expand-lg" style="height: 60px; background-color: #3F51B5;">
    <a class="navbar-brand text-color" href="#" class="header-web-font">LIBRE</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
          <%= link_to books_path, class:"nav-link mx-2"  do %>
          <div class="text-color">Books</div>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_registration_path, class:"nav-link mx-2 text-color" do %>
          Signup
          <% end %>
        </li>
        
        <li class="nav-item">
          <%= link_to new_user_session_path, class:"nav-link mx-2 text-color"  do %>
          login
          <% end %>
        </li>  

        <%= link_to search_path, class:"nav-link mx-2"  do %>
        <li class="nav-item">
          <i class="fa fa-search" aria-hidden="true"></i>
        </li>
        <% end %>

      </ul>
    </div>
  </nav>
  <% end %>
  <!-- flashメッセージの表示 -->
  <% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>

  <%= yield %>
</body>
</html>
